.homeSection{
    padding: 0;
    margin: 0;
    padding: 1.5em 5em 5em 5em;
    display: flex;
    flex-direction: column;
}

.topLine{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5em;
}

.buttonGroup{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
    gap: 1em
}

.datePicker{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    justify-self: flex-end;
    margin-bottom: 2em;
    padding-right: 0.5em;
}

.thresholdReached{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    margin-bottom: 2em;
    border-radius: 4px;
    border: 1px solid #fb6161;
    background-color: #eeb1b1;
    color: #c60808;
    padding: 1em;
}
